In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Embedding
from statsmodels.tsa.seasonal import seasonal_decompose
from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_csv("finaldata.csv")
df.head()

,Date,vixPrice,vixChange%,niftyPrice,niftyChange %,n5day,n10day,n20day,n1day,n60day,...,RbiinterestAnticepation,USInflation Rate (%),USInflationRate%chng,USInflation Rate (%)Anticepation,IndiaInflationRate(%),IndiaInflationRate(%)chng,IndiaInflationRate(%)Anticepation,IndiaBudgetDatesAnticipation,IndiaElectionDatesAnticipation,UsElectionDatesAnticipation
0,2008-06-05,30.32,1.68,4676.95,1.99,4835.3,5025.45,5135.50,4647.00,4864.25,...,0,9.0,4.651163,0,11.8,26.88172,0,0,0,0
1,2008-06-06,30.32,0.00,4627.80,-1.05,4870.1,4946.55,5081.70,4761.20,4921.40,...,0,9.0,4.651163,0,11.8,26.88172,0,1,1,1
2,2008-06-09,32.43,6.96,4500.95,-2.74,4739.6,4875.05,4982.60,4709.65,4771.60,...,0,9.0,4.651163,0,11.8,26.88172,0,2,2,2
3,2008-06-10,30.23,-6.78,4449.80,-1.14,4715.9,4859.80,5012.65,4747.05,4800.40,...,0,9.0,4.651163,0,11.8,26.88172,0,3,3,3
4,2008-06-11,29.64,-1.95,4523.60,1.66,4585.6,4918.35,4957.80,4733.00,4865.90,...,0,9.0,4.651163,0,11.8,26.88172,0,4,4,4

In [11]:
df= df.drop('DayOfWeek', axis = 1)

In [12]:
df= df.drop('month', axis = 1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4016 entries, 0 to 4015
Data columns (total 78 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               4016 non-null   object
 1   vixPrice                           4016 non-null   float64
 2   vixChange%                         4016 non-null   float64
 3   niftyPrice                         4016 non-null   float64
 4   niftyChange %                      4016 non-null   float64
 5   n5day                              4016 non-null   float64
 6   n10day                             4016 non-null   float64
 7   n20day                             4016 non-null   float64
 8   n1day                              4016 non-null   float64
 9   n60day                             4016 non-null   float64
 10  nc5day                             4016 non-null   float64
 11  nc10day                            4016 non-null   float64
 12  nc20day                            4016 non-null   float64
 13  nc1day                             4016 non-null   float64
 14  nc60day                            4016 non-null   float64
 15  v5day                              4016 non-null   float64
 16  v10day                             4016 non-null   float64
 17  v20day                             4016 non-null   float64
 18  v1day                              4016 non-null   float64
 19  v60day                             4016 non-null   float64
 20  vc5day                             4016 non-null   float64
 21  vc10day                            4016 non-null   float64
 22  vc20day                            4016 non-null   float64
 23  vc1day                             4016 non-null   float64
 24  vc60day                            4016 non-null   float64
 25  Tuesday                            4016 non-null   int64
 26  Wednesday                          4016 non-null   int64
 27  Friday                             4016 non-null   int64
 28  Monday                             4016 non-null   int64
 29  Thursday                           4016 non-null   int64
 30  Saturday                           4016 non-null   int64
 31  Sunday                             4016 non-null   int64
 32  March                              4016 non-null   int64
 33  April                              4016 non-null   int64
 34  May                                4016 non-null   int64
 35  June                               4016 non-null   int64
 36  July                               4016 non-null   int64
 37  August                             4016 non-null   int64
 38  September                          4016 non-null   int64
 39  October                            4016 non-null   int64
 40  November                           4016 non-null   int64
 41  December                           4016 non-null   int64
 42  January                            4016 non-null   int64
 43  February                           4016 non-null   int64
 44  n1day%                             4016 non-null   float64
 45  n5day%                             4016 non-null   float64
 46  n10day%                            4016 non-null   float64
 47  n20day%                            4016 non-null   float64
 48  n60day%                            4016 non-null   float64
 49  cluster                            4016 non-null   int64
 50  Month                              4016 non-null   int64
 51  GoldPrice                          4016 non-null   float64
 52  GoldChange %                       4016 non-null   float64
 53  CrudePrice                         4016 non-null   float64
 54  CrudeChange %                      4016 non-null   float64
 55  inrPrice                           4016 non-null   float64
 56  inrChange %                        4016 non-null   float64
 57  diPrice                            4016 non-null   float64
 58  diChange %                         4016 non-null   float64
 59  T10Y2Y                             4016 non-null   float64
 60  T10Y2Y%chng                        4016 non-null   float64
 61  SnP500Price                        4016 non-null   float64
 62  SnP500Change %                     4016 non-null   float64
 63  Fedinterest                        4016 non-null   float64
 64  Fed%change                         4016 non-null   float64
 65  FedinterestAnticepation            4016 non-null   int64
 66  Rbiinterest                        4016 non-null   float64
 67  Rbi%change                         4016 non-null   float64
 68  RbiinterestAnticepation            4016 non-null   int64
 69  USInflation Rate (%)               4016 non-null   float64
 70  USInflationRate%chng               4016 non-null   float64
 71  USInflation Rate (%)Anticepation   4016 non-null   int64
 72  IndiaInflationRate(%)              4016 non-null   float64
 73  IndiaInflationRate(%)chng          4016 non-null   float64
 74  IndiaInflationRate(%)Anticepation  4016 non-null   int64
 75  IndiaBudgetDatesAnticipation       4016 non-null   int64
 76  IndiaElectionDatesAnticipation     4016 non-null   int64
 77  UsElectionDatesAnticipation        4016 non-null   int64
dtypes: float64(49), int64(28), object(1)
memory usage: 2.4+ MB

Let's find out which features are most relevent